---
import PrimaryButtonIcon from './PrimaryButton.astro'

import NavItem from './NavItem.astro'
import NavItemBacklink from './NavItemBacklink.astro'
import NavItemLink from './NavItemLink.astro'
import BreadCrumb from './BreadCrumb.astro'
import LanguageSubmenu from './LanguageSubmenu.astro'
import SubmenuWrapper from './SubmenuWrapper.astro'
import SecondLevelMenu from './SecondLevelMenu.astro'
import ThirdLevelMenu from './ThirdLevelMenu.astro'
import ThirdLevelNavItem from './ThirdLevelNavItem.astro'
import FourthLevelMenu from './FourthLevelMenu.astro'
import SecondLevelMenuWrapper from './SecondLevelMenuWrapper.astro'
import PrimaryButtonOnlyIcon from './PrimaryButtonOnlyIcon.astro'
import FirstLevelNavItem from './FirstLevelNavItem.astro'
import SecondLevelNavItem from './SecondLevelNavItem.astro'
import DesktopGrid from './DesktopGrid.astro'
// @ts-ignore
import navigationData from '../data/navigationData.json'
import PageLink from './PageLink.astro'
import FourthLevelBackButton from './FourthLevelBackButton.astro'
---

<nav class='border-fernaoGreen 1440:w-full' id='nav'>
  {/* First Level */}
  <ul
    class='z-[1] mx-auto hidden h-screen w-full max-w-[394px] bg-fernaoBGWhite px-9 pt-8 1440:top-0 1440:mx-0 1440:flex 1440:h-auto 1440:max-w-none 1440:items-center 1440:p-0'
    id='firstlevel-menu'
  >
    {
      navigationData.items.map((item) => {
        return (
          <FirstLevelNavItem
            ariaControls={item.ariaControls}
            id='firstlevel-button'
            title={item.title}
          >
            {/*### Second Level */}
            <SecondLevelMenu id={`secondlevel-${item.id}`}>
              <NavItemBacklink
                ariaControls={item.ariaControls}
                title={item.title}
                id='firstlevel-button'
              />
              <SecondLevelMenuWrapper>
                {item.items.map((item) => {
                  return (
                    <SecondLevelNavItem
                      ariaControls={`thirdlevel-${item.id}`}
                      id='secondlevel-button'
                      title={item.title}
                      bold={item.bold}
                    >
                      {/* Third Level */}
                      <ThirdLevelMenu id={`thirdlevel-${item.id}`}>
                        <BreadCrumb title={`${item.parentTitle} > `} />
                        <NavItemBacklink
                          ariaControls={`thirdlevel-${item.id}`}
                          title={item.title}
                          id='secondlevel-button'
                        />
                        <SubmenuWrapper>
                          {item.items?.map((item) => {
                            const hasFourthLevel = item.items?.length > 0
                            return hasFourthLevel ? (
                              <ThirdLevelNavItem
                                ariaControls={`fourthlevel-${item.id}`}
                                id='thirdlevel-button'
                                title={item.title}
                                bold={false}
                                text={item.text}
                              >
                                {/* Fourth Level */}
                                <FourthLevelMenu id={`fourthlevel-${item.id}`}>
                                  <BreadCrumb
                                    title={`${item.parentTitle} > `}
                                  />
                                  <FourthLevelBackButton
                                    ariaControls={`fourthlevel-${item.id}`}
                                    title={item.title}
                                    id='thirdlevel-button'
                                    parentTitle={item.parentTitle}
                                  />
                                  <SubmenuWrapper>
                                    {item.items?.map((item) => {
                                      return (
                                        <NavItemLink
                                          href={item.href}
                                          title={item.title}
                                        />
                                      )
                                    })}

                                    <PageLink href={item.href}>
                                      {item.title}
                                    </PageLink>
                                  </SubmenuWrapper>
                                </FourthLevelMenu>
                              </ThirdLevelNavItem>
                            ) : (
                              <NavItemLink
                                href={item.href}
                                title={item.title}
                              />
                            )
                          })}

                          <PageLink href={item.href}>{item.title}</PageLink>
                        </SubmenuWrapper>
                      </ThirdLevelMenu>
                    </SecondLevelNavItem>
                  )
                })}
              </SecondLevelMenuWrapper>
            </SecondLevelMenu>
          </FirstLevelNavItem>
        )
      })
    }

    <!-- TODO: can be removed, is replaced by above -->

    <FirstLevelNavItem
      ariaControls='secondlevel-solutions'
      id='firstlevel-button'
      title='Solutions'
    >
      {/* Second Level Solutions */}
      <SecondLevelMenu id='secondlevel-solutions'>
        <NavItemBacklink
          ariaControls='secondlevel-solutions'
          title='Solutions'
          id='secondlevel-button-back'
        />
        <SecondLevelMenuWrapper>
          <SecondLevelNavItem
            ariaControls='thirdlevel-it-security'
            id='secondlevel-button'
            title='IT-Security'
            bold={false}
          >
            {/* Third Level SOlutions */}

            <ThirdLevelMenu id='thirdlevel-it-security'>
              <BreadCrumb title='Solutions >' />
              <NavItemBacklink
                ariaControls='thirdlevel-it-security'
                title='IT-Security'
                id='secondlevel-button-back'
              />
              <SubmenuWrapper>
                <NavItemLink
                  href='/solutions/it-security/next-gen-security-platforms'
                  title='Next Gen Security Platforms'
                />
                <NavItemLink
                  href='/solutions/it-security/next-gen-endpoint-security'
                  title='Next Gen Endpoint Security'
                />
                <NavItem
                  ariaControls='fourthlevel-configuration-audits'
                  id='thirdlevel-button'
                  title='Configuration Audits'
                  bold={false}
                >
                  {/* Fourth Level Solutions */}
                  <FourthLevelMenu id='fourthlevel-configuration-audits'>
                    <BreadCrumb title='Solutions > IT-Security >' />
                    <NavItemBacklink
                      ariaControls='fourthlevel-configuration-audits'
                      title='Configuration Audits'
                      id='thirdlevel-button-back'
                    />

                    <SubmenuWrapper>
                      <NavItemLink
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Betriebssysteme'
                      />
                      <NavItemLink
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Webkomponenten'
                      />
                      {/* Nav Item mobile link */}
                      <li class='px-4'>
                        <a
                          href='/solutions/it-security/configuration-audtis'
                          class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                        >
                          Configuration Audits Overview
                        </a>
                      </li>
                    </SubmenuWrapper>
                  </FourthLevelMenu>
                </NavItem>
                <!-- Needs to be in own component -->
                <li class='px-4 1440:col-start-3 1440:row-start-2'>
                  <a
                    href='/it-security'
                    class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                  >
                    IT-Security Overview
                  </a>
                </li>
              </SubmenuWrapper>
            </ThirdLevelMenu>
          </SecondLevelNavItem>
          <SecondLevelNavItem
            ariaControls='thirdlevel-data-analytics'
            id='secondlevel-button'
            title='Data Analytics'
            bold={false}
          />
        </SecondLevelMenuWrapper>
      </SecondLevelMenu>
    </FirstLevelNavItem>

    <FirstLevelNavItem
      title='Consulting'
      ariaControls='secondlevel-consulting'
      id='firstlevel-button'
    >
      <DesktopGrid id='secondlevel-consulting-section'>
        <!-- Second Level Consulting -->
        <SecondLevelMenu id='secondlevel-consulting'>
          <NavItemBacklink
            ariaControls='secondlevel-consulting'
            title='Consulting'
            id='secondlevel-button-back'
          />
          <SecondLevelMenuWrapper>
            <SecondLevelNavItem
              title='Überbegriff'
              id='secondlevel-button'
              ariaControls='thirdlevel-uberbegriff'
            />
            <NavItemLink
              href='/consulting/business-resiliance'
              title='Business Resilience'
            />
          </SecondLevelMenuWrapper>
        </SecondLevelMenu>
        <ThirdLevelMenu id='thirdlevel-it-security'>
          <BreadCrumb title='Solutions >' />
          <NavItemBacklink
            ariaControls='thirdlevel-it-security'
            title='IT-Security'
            id='secondlevel-button-back'
          />
          <SubmenuWrapper>
            <NavItemLink
              href='/solutions/it-security/next-gen-security-platforms'
              title='Next Gen Security Platforms'
            />
            <NavItemLink
              href='/solutions/it-security/next-gen-endpoint-security'
              title='Next Gen Endpoint Security'
            />
            <NavItem
              ariaControls='fourthlevel-configuration-audits'
              id='thirdlevel-button'
              title='Configuration Auditsssssssssss'
              bold={false}
            >
              {/* Fourth Level */}
              <FourthLevelMenu id='fourthlevel-configuration-audits'>
                <BreadCrumb title='Solutions > IT-Security >' />
                <NavItemBacklink
                  ariaControls='fourthlevel-configuration-audits'
                  title='Configuration Audits'
                  id='thirdlevel-button-back'
                />

                <SubmenuWrapper>
                  <NavItemLink
                    href='/solutions/it-security/next-gen-security-platforms'
                    title='Betriebssysteme'
                  />
                  <NavItemLink
                    href='/solutions/it-security/next-gen-security-platforms'
                    title='Webkomponenten'
                  />
                  {/* Nav Item mobile link */}
                  <li class='px-4'>
                    <a
                      href='/solutions/it-security/configuration-audtis'
                      class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                    >
                      Configuration Audits Overview
                    </a>
                  </li>
                </SubmenuWrapper>
              </FourthLevelMenu>
            </NavItem>
            <!-- Needs to be in own component -->
            <li class='px-4 1440:col-start-3 1440:row-start-2'>
              <a
                href='/it-security'
                class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
              >
                IT-Security Overview
              </a>
            </li>
          </SubmenuWrapper>
        </ThirdLevelMenu>
      </DesktopGrid>
    </FirstLevelNavItem>
    <FirstLevelNavItem
      title='Service'
      ariaControls='secondlevel-service'
      id='firstlevel-button'
    />
    <FirstLevelNavItem
      title='Cloud'
      ariaControls='secondlevel-cloud'
      id='firstlevel-button'
    />
    <FirstLevelNavItem
      ariaControls='secondlevel-branchen'
      id='firstlevel-button'
      title='Branchen'
    />
    <li class='mt-14 1440:hidden'>
      <PrimaryButtonIcon>Termin buchen</PrimaryButtonIcon>
    </li>

    <li class='1440:ml-auto'>
      <ul class='mt-4 1440:mt-0 1440:flex 1440:w-full 1440:items-center'>
        <NavItem
          title='Sprache'
          ariaControls='secondlevel-sprache'
          id='firstlevel-button'
          bold={false}
        >
          <LanguageSubmenu id='secondlevel-sprache'>
            <NavItemBacklink
              ariaControls='secondlevel-sprache'
              title='Sprache'
              id='secondlevel-button-back'
            />
            <SubmenuWrapper>
              <NavItemLink
                href='/solutions/it-security/next-gen-security-platforms'
                title='Deutsch'
              />
              <NavItemLink
                href='/solutions/it-security/next-gen-security-platforms'
                title='Englisch'
              />
            </SubmenuWrapper>
          </LanguageSubmenu>
        </NavItem>

        <NavItem
          title='Über Uns'
          ariaControls='secondlevel-uber-uns'
          id='secondlevel-button'
          bold={false}
        />
        <li class='1440:hidden'>
          <ul>
            <NavItemLink title='Jobs' href='/jobs' />
            <NavItemLink title='Datenschutz' href='/datenschutz' lightText />
            <NavItemLink title='Impressum' href='/impressum' lightText />
            <NavItemLink
              title='Cookie Policy'
              href='/cookie-policy'
              lightText
            />
          </ul>
        </li>
      </ul>
    </li>
    <li class='hidden 1440:block'>
      <PrimaryButtonOnlyIcon />
    </li>
  </ul>
</nav>

<script>
  const NavigationItems = {
    SOLUTIONS: 'solutions',
  }
  const handleMenuButtonClick = () => {
    document.querySelector('#firstlevel-menu').classList.toggle('hidden')
    document.querySelector('#nav').classList.toggle('border-t-2')
    document.querySelector('#menu-open-icon').classList.toggle('hidden')
    document.querySelector('#menu-closed-icon').classList.toggle('hidden')

    // if open, close all open submenus to reset menu
    resetMenus()
  }

  const handleFirstLevelClick = (id, button) => {
    const isDesktop = window.innerWidth > 1440

    if (isDesktop) {
      const isActiveFirstLevelBtnActive = button.classList.contains(
        'activeFirstLevelBtn'
      )
      const menus = document.querySelectorAll('ul[id^="secondlevel-"]')
      const buttons = document.querySelectorAll('button[id^="firstlevel-"]')
      const secondLevelButtons = document.querySelectorAll(
        'button[id^="secondlevel-"]'
      )
      const firstSecondLevelButton = secondLevelButtons[0]

      // Reset other open menus
      menus.forEach((menu) => {
        if (`#${menu.id}` !== id) {
          menu.classList.add('hidden')
          if (menu.nextElementSibling) {
            menu.nextElementSibling.classList.add('hidden')
          }
        }
      })

      // Reset other active states
      buttons.forEach((btn) => {
        if (`#${btn.id}` !== id) {
          btn.classList.remove('activeFirstLevelBtn')
        }
      })

      // Toggle active class on button
      button.classList.toggle('activeFirstLevelBtn')
      // Toggle active class on first second level button
      firstSecondLevelButton.classList.toggle('activeSecondLevelBtn')

      // Toggle fixed class on header
      document.querySelector('#header').classList.toggle('fixed')

      // Side effects for clicked twice
      if (isActiveFirstLevelBtnActive) {
        button.classList.remove('activeFirstLevelBtn')

        // Reset other open menus and active states
        const thirdLevelMenu = document.querySelectorAll(
          'ul[id^="thirdlevel-"]'
        )
        const fourthLevelMenu = document.querySelectorAll(
          'ul[id^="fourthlevel-"]'
        )
        const activeSecondLevelBtn = document.querySelector(
          'button[id^="secondlevel-"].activeSecondLevelBtn'
        )
        thirdLevelMenu.forEach((menu) => {
          menu.classList.add('hidden')
        })
        fourthLevelMenu.forEach((menu) => {
          menu.classList.add('hidden')
        })
        if (activeSecondLevelBtn) {
          activeSecondLevelBtn.classList.remove('activeSecondLevelBtn')
        }
      }
    } else {
      // On mobile, toggle menu with given id
      const targetMenu = document.querySelector(id)
      targetMenu.classList.toggle('hidden')
    }
  }

  const handleSecondLevelClick = (id, button) => {
    if (window.innerWidth > 1440) {
      // Reset other open menus and active states
      const menus = document.querySelectorAll('ul[id^="thirdlevel-"]')
      const buttons = document.querySelectorAll('.activeSecondLevelBtn')
      menus.forEach((menu) => {
        if (`#${menu.id}` !== id) {
          menu.classList.add('hidden')
          if (menu.nextElementSibling) {
            menu.nextElementSibling.classList.add('hidden')
          }
        }
      })

      // Reset other active states
      buttons.forEach((btn) => {
        if (`#${btn.id}` !== id) {
          btn.classList.remove('activeSecondLevelBtn')
        }
      })

      button.classList.toggle('activeSecondLevelBtn')
      // Toggle menu
      document.querySelector(id).classList.toggle('hidden')
    } else {
      document.querySelector(id).classList.toggle('hidden')
    }
  }

  const handleClick = (id) => {
    document.querySelector(id).classList.toggle('hidden')
  }

  const resetMenus = () => {
    const menus = document.querySelectorAll(
      'ul[id^="secondlevel-"], ul[id^="thirdlevel-"], ul[id^="fourthlevel-"]'
    )
    menus.forEach((menu) => {
      menu.classList.add('hidden')
    })
  }

  const menuButton = document.querySelector('#menu-button')
  menuButton.addEventListener('click', handleMenuButtonClick)

  const secondLevelButtons = document.querySelectorAll(
    '#secondlevel-button, #secondlevel-button-back'
  )
  secondLevelButtons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleSecondLevelClick(`#${id}`, button)
    })
  })
  const firstlevelButtons = document.querySelectorAll('#firstlevel-button')
  firstlevelButtons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleFirstLevelClick(`#${id}`, button)
    })
  })

  const buttons = document.querySelectorAll(
    '#thirdlevel-button, #thirdlevel-button-back, #fourthlevel-button'
  )
  buttons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleClick(`#${id}`)
    })
  })
</script>
