---
import PrimaryButtonIcon from './PrimaryButton.astro'

import NavItem from './NavItem.astro'
import NavItemBacklink from './NavItemBacklink.astro'
import NavItemLink from './NavItemLink.astro'
import BreadCrumb from './BreadCrumb.astro'
import LanguageSubmenu from './LanguageSubmenu.astro'
import SubmenuWrapper from './SubmenuWrapper.astro'
import SecondLevelMenu from './SecondLevelMenu.astro'
import ThirdLevelMenu from './ThirdLevelMenu.astro'
import FourthLevelMenu from './FourthLevelMenu.astro'
import SecondLevelMenuWrapper from './SecondLevelMenuWrapper.astro'
import PrimaryButtonOnlyIcon from './PrimaryButtonOnlyIcon.astro'
import FirstLevelNavItem from './FirstLevelNavItem.astro'
import SecondLevelNavItem from './SecondLevelNavItem.astro'
import DesktopGrid from './DesktopGrid.astro'
import navigationData from '../data/navigationData.json'
---

<nav class='border-fernaoGreen 1440:w-full' id='nav'>
  {/* First Level */}
  <ul
    class='z-[1] mx-auto hidden h-screen w-full max-w-[394px] bg-fernaoBGWhite px-9 pt-8 1440:top-0 1440:mx-0 1440:flex 1440:h-auto 1440:max-w-none 1440:items-center 1440:p-0'
    id='firstlevel-menu'
  >
    <FirstLevelNavItem
      ariaControls='secondlevel-solutions'
      id='firstlevel-button'
      title='Solutions'
    >
      {/* Second Level Solutions */}
      <SecondLevelMenu id='secondlevel-solutions'>
        <NavItemBacklink
          ariaControls='secondlevel-solutions'
          title='Solutions'
          id='secondlevel-button-back'
        />
        <SecondLevelMenuWrapper>
          <SecondLevelNavItem
            ariaControls='thirdlevel-it-security'
            id='secondlevel-button'
            title='IT-Security'
            bold={false}
          >
            {/* Third Level SOlutions */}

            <ThirdLevelMenu id='thirdlevel-it-security'>
              <BreadCrumb title='Solutions >' />
              <NavItemBacklink
                ariaControls='thirdlevel-it-security'
                title='IT-Security'
                id='secondlevel-button-back'
              />
              <SubmenuWrapper>
                <NavItemLink
                  href='/solutions/it-security/next-gen-security-platforms'
                  title='Next Gen Security Platforms'
                />
                <NavItemLink
                  href='/solutions/it-security/next-gen-endpoint-security'
                  title='Next Gen Endpoint Security'
                />
                <NavItem
                  ariaControls='fourthlevel-configuration-audits'
                  id='thirdlevel-button'
                  title='Configuration Audits'
                  bold={false}
                >
                  {/* Fourth Level Solutions */}
                  <FourthLevelMenu id='fourthlevel-configuration-audits'>
                    <BreadCrumb title='Solutions > IT-Security >' />
                    <NavItemBacklink
                      ariaControls='fourthlevel-configuration-audits'
                      title='Configuration Audits'
                      id='thirdlevel-button-back'
                    />

                    <SubmenuWrapper>
                      <NavItemLink
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Betriebssysteme'
                      />
                      <NavItemLink
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Webkomponenten'
                      />
                      {/* Nav Item mobile link */}
                      <li class='px-4'>
                        <a
                          href='/solutions/it-security/configuration-audtis'
                          class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                        >
                          Configuration Audits Overview
                        </a>
                      </li>
                    </SubmenuWrapper>
                  </FourthLevelMenu>
                </NavItem>
                <!-- Needs to be in own component -->
                <li class='px-4 1440:col-start-3 1440:row-start-2'>
                  <a
                    href='/it-security'
                    class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                  >
                    IT-Security Overview
                  </a>
                </li>
              </SubmenuWrapper>
            </ThirdLevelMenu>
          </SecondLevelNavItem>
          <SecondLevelNavItem
            ariaControls='thirdlevel-data-analytics'
            id='secondlevel-button'
            title='Data Analytics'
            bold={false}
          />
        </SecondLevelMenuWrapper>
      </SecondLevelMenu>
    </FirstLevelNavItem>

    <FirstLevelNavItem
      title='Consulting'
      ariaControls='secondlevel-consulting'
      id='firstlevel-button'
    >
      <DesktopGrid id='secondlevel-consulting-section'>
        <!-- Second Level Consulting -->
        <SecondLevelMenu id='secondlevel-consulting'>
          <NavItemBacklink
            ariaControls='secondlevel-consulting'
            title='Consulting'
            id='secondlevel-button-back'
          />
          <SecondLevelMenuWrapper>
            <SecondLevelNavItem
              title='Überbegriff'
              id='secondlevel-button'
              ariaControls='thirdlevel-uberbegriff'
            />
            <NavItemLink
              href='/consulting/business-resiliance'
              title='Business Resilience'
            />
          </SecondLevelMenuWrapper>
        </SecondLevelMenu>
        <ThirdLevelMenu id='thirdlevel-it-security'>
          <BreadCrumb title='Solutions >' />
          <NavItemBacklink
            ariaControls='thirdlevel-it-security'
            title='IT-Security'
            id='secondlevel-button-back'
          />
          <SubmenuWrapper>
            <NavItemLink
              href='/solutions/it-security/next-gen-security-platforms'
              title='Next Gen Security Platforms'
            />
            <NavItemLink
              href='/solutions/it-security/next-gen-endpoint-security'
              title='Next Gen Endpoint Security'
            />
            <NavItem
              ariaControls='fourthlevel-configuration-audits'
              id='thirdlevel-button'
              title='Configuration Auditsssssssssss'
              bold={false}
            >
              {/* Fourth Level */}
              <FourthLevelMenu id='fourthlevel-configuration-audits'>
                <BreadCrumb title='Solutions > IT-Security >' />
                <NavItemBacklink
                  ariaControls='fourthlevel-configuration-audits'
                  title='Configuration Audits'
                  id='thirdlevel-button-back'
                />

                <SubmenuWrapper>
                  <NavItemLink
                    href='/solutions/it-security/next-gen-security-platforms'
                    title='Betriebssysteme'
                  />
                  <NavItemLink
                    href='/solutions/it-security/next-gen-security-platforms'
                    title='Webkomponenten'
                  />
                  {/* Nav Item mobile link */}
                  <li class='px-4'>
                    <a
                      href='/solutions/it-security/configuration-audtis'
                      class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                    >
                      Configuration Audits Overview
                    </a>
                  </li>
                </SubmenuWrapper>
              </FourthLevelMenu>
            </NavItem>
            <!-- Needs to be in own component -->
            <li class='px-4 1440:col-start-3 1440:row-start-2'>
              <a
                href='/it-security'
                class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
              >
                IT-Security Overview
              </a>
            </li>
          </SubmenuWrapper>
        </ThirdLevelMenu>
      </DesktopGrid>
    </FirstLevelNavItem>
    <FirstLevelNavItem
      title='Service'
      ariaControls='secondlevel-service'
      id='firstlevel-button'
    />
    <FirstLevelNavItem
      title='Cloud'
      ariaControls='secondlevel-cloud'
      id='firstlevel-button'
    />
    <FirstLevelNavItem
      ariaControls='secondlevel-branchen'
      id='firstlevel-button'
      title='Branchen'
    />
    <li class='mt-14 1440:hidden'>
      <PrimaryButtonIcon>Termin buchen</PrimaryButtonIcon>
    </li>

    <li class='1440:ml-auto'>
      <ul class='mt-4 1440:mt-0 1440:flex 1440:w-full 1440:items-center'>
        <NavItem
          title='Sprache'
          ariaControls='secondlevel-sprache'
          id='firstlevel-button'
          bold={false}
        >
          <LanguageSubmenu id='secondlevel-sprache'>
            <NavItemBacklink
              ariaControls='secondlevel-sprache'
              title='Sprache'
              id='secondlevel-button-back'
            />
            <SubmenuWrapper>
              <NavItemLink
                href='/solutions/it-security/next-gen-security-platforms'
                title='Deutsch'
              />
              <NavItemLink
                href='/solutions/it-security/next-gen-security-platforms'
                title='Englisch'
              />
            </SubmenuWrapper>
          </LanguageSubmenu>
        </NavItem>

        <NavItem
          title='Über Uns'
          ariaControls='secondlevel-uber-uns'
          id='secondlevel-button'
          bold={false}
        />
        <li class='1440:hidden'>
          <ul>
            <NavItemLink title='Jobs' href='/jobs' />
            <NavItemLink title='Datenschutz' href='/datenschutz' lightText />
            <NavItemLink title='Impressum' href='/impressum' lightText />
            <NavItemLink
              title='Cookie Policy'
              href='/cookie-policy'
              lightText
            />
          </ul>
        </li>
      </ul>
    </li>
    <li class='hidden 1440:block'>
      <PrimaryButtonOnlyIcon />
    </li>
  </ul>
</nav>

<script>
  const NavigationItems = {
    SOLUTIONS: 'solutions',
  }
  const handleMenuButtonClick = () => {
    document.querySelector('#firstlevel-menu').classList.toggle('hidden')
    document.querySelector('#nav').classList.toggle('border-t-2')
    document.querySelector('#menu-open-icon').classList.toggle('hidden')
    document.querySelector('#menu-closed-icon').classList.toggle('hidden')

    // if open, close all open submenus to reset menu
    resetMenus()
  }

  // const handleFirstLevelClick = (id, button) => {
  //   console.log(button)
  //   if (window.innerWidth > 1440) {
  //     if (button.classList.contains('activeFirstLevelBtn')) {
  //       // move logic in here
  //       console.log('clicked twice')
  //     } else {
  //       console.log('clicked once')
  //     }
  //     // Reset all open elements
  //     const menus = document.querySelectorAll('ul[id^="secondlevel-"]')
  //     menus.forEach((menu) => {
  //       if (`#${menu.id}` !== id) {
  //         menu.classList.add('hidden')
  //         if (menu.nextElementSibling) {
  //           menu.nextElementSibling.classList.add('hidden')
  //           // also close fourth level menu if open
  //         }
  //       }
  //     })

  //     // Reset active states
  //     const buttons = document.querySelectorAll('button[id^="firstlevel-"]')
  //     buttons.forEach((button) => {
  //       if (`#${button.id}` !== id) {
  //         button.classList.remove('activeFirstLevelBtn')
  //       }
  //     })
  //     // select all sections with the id ending with -section
  //     const sections = document.querySelectorAll('section[id$="-section"]')
  //     sections.forEach((section) => {
  //       if (`#${section.id}` !== `${id}-section`) {
  //         section.classList.remove('grid')
  //         section.classList.remove('h-[calc(100vh-84px)]')
  //       }
  //     })

  //     // Toggle section
  //     document.querySelector(`${id}-section`).classList.toggle('grid')
  //     document
  //       .querySelector(`${id}-section`)
  //       .classList.toggle('h-[calc(100vh-84px)]')
  //     // Toggle menu and first item of thirdlevel menu
  //     document.querySelector(id).classList.toggle('hidden')
  //     if (document.querySelector(id).nextElementSibling) {
  //       document.querySelector(id).nextElementSibling.classList.toggle('hidden')
  //     }

  //     // Side effects
  //     document.querySelector('#header').classList.toggle('fixed')
  //     button.classList.toggle('activeFirstLevelBtn')
  //     document
  //       .querySelector(`${id} button#secondlevel-button > span`)
  //       .classList.add('activeSecondLevelBtn')
  //     document.querySelector(`${id}-footer`).classList.toggle('hidden')
  //   } else {
  //     // On mobile only toggle menu with given id
  //     document.querySelector(id).classList.toggle('hidden')
  //   }
  // }

  const handleFirstLevelClick = (id, button) => {
    const isDesktop = window.innerWidth > 1440

    if (isDesktop) {
      const isActiveFirstLevelBtnActive = button.classList.contains(
        'activeFirstLevelBtn'
      )
      const isActiveSecondLevelBtnActive = document
        .querySelector(`${id} button#secondlevel-button > span`)
        .classList.contains('activeSecondLevelBtn')
      const menus = document.querySelectorAll('ul[id^="secondlevel-"]')
      const buttons = document.querySelectorAll('button[id^="firstlevel-"]')
      const header = document.querySelector('#header')

      // Reset other open menus
      menus.forEach((menu) => {
        if (`#${menu.id}` !== id) {
          menu.classList.add('hidden')
          if (menu.nextElementSibling) {
            menu.nextElementSibling.classList.add('hidden')
            // also close fourth level menu if open
          }
        }
      })

      // Reset other active states
      buttons.forEach((btn) => {
        if (`#${btn.id}` !== id) {
          btn.classList.remove('activeFirstLevelBtn')
        }
      })

      // Toggle second-level menu and first item of third-level menu
      // const targetMenu = document.querySelector(id)
      // targetMenu.classList.toggle('hidden')
      // if (targetMenu.nextElementSibling) {
      //   targetMenu.nextElementSibling.classList.toggle('hidden')
      // }

      // Toggle active class on button
      button.classList.toggle('activeFirstLevelBtn')

      // Toggle active class on second-level button
      // const targetSecondLevelBtn = document.querySelector(
      //   `${id} button#secondlevel-button > span`
      // )
      // targetSecondLevelBtn.classList.toggle('activeSecondLevelBtn')

      // Toggle hidden class on grid footer
      const targetFooter = document.querySelector(`${id}-footer`)
      targetFooter.classList.toggle('hidden')

      // Toggle fixed class on header
      header.classList.toggle('fixed')

      // Side effects for clicked twice
      if (isActiveFirstLevelBtnActive) {
        button.classList.remove('activeFirstLevelBtn')
      }

      // if (isActiveSecondLevelBtnActive) {
      //   targetSecondLevelBtn.classList.remove('activeSecondLevelBtn')
      // }
    } else {
      // On mobile, toggle menu with given id
      const targetMenu = document.querySelector(id)
      targetMenu.classList.toggle('hidden')
    }
  }

  const handleSecondLevelClick = (id) => {
    if (window.innerWidth > 1440) {
      if (document.querySelector(id).classList.contains('hidden')) {
        document.querySelector(id).classList.add('block')
      }
    } else {
      document.querySelector(id).classList.toggle('hidden')
    }
  }

  const handleClick = (id) => {
    document.querySelector(id).classList.toggle('hidden')
  }

  const resetMenus = () => {
    const menus = document.querySelectorAll(
      'ul[id^="secondlevel-"], ul[id^="thirdlevel-"], ul[id^="fourthlevel-"]'
    )
    menus.forEach((menu) => {
      menu.classList.add('hidden')
    })
  }

  const menuButton = document.querySelector('#menu-button')
  menuButton.addEventListener('click', handleMenuButtonClick)

  const secondLevelButtons = document.querySelectorAll(
    '#secondlevel-button, #secondlevel-button-back'
  )
  secondLevelButtons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleSecondLevelClick(`#${id}`)
    })
  })
  const firstlevelButtons = document.querySelectorAll('#firstlevel-button')
  firstlevelButtons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleFirstLevelClick(`#${id}`, button)
    })
  })

  const buttons = document.querySelectorAll(
    '#thirdlevel-button, #thirdlevel-button-back, #fourthlevel-button'
  )
  buttons.forEach((button) => {
    const id = button.getAttribute('aria-controls')
    button.addEventListener('click', () => {
      handleClick(`#${id}`)
    })
  })
</script>
